<div class="courses-table">
  <table mat-table [dataSource]="courses" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let course">{{ course.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let course">{{ course.name }}</td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let course">
        <div class="category-cell">
          <span>{{ course.category }}</span>
          <mat-icon>
            {{ course.category | category }}
          </mat-icon>
        </div>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <div class="search">
          <div class="search-add">
            <button matMiniFab routerLink="new">
              <mat-icon>add</mat-icon>
            </button>
          </div>

          @if (isSearching) {
            <div class="search-input">
              <input id="" #inputRef type="text" placeholder="ID" [(ngModel)]="id" class="search-input__field" />
            </div>
          }

          <div class="search-icon">
            <button matMiniFab type="button" (click)="onSearch()">
              <mat-icon>search</mat-icon>
            </button>
          </div>

          @if (isSearching) {
            <div class="search-icon">
              <button matMiniFab type="button" (click)="onClose()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          }
        </div>
      </th>

      <td mat-cell *matCellDef="let course">
        <button matIconButton (click)="onEdit(course)">
          <mat-icon>edit</mat-icon>
        </button>

        <button matIconButton (click)="onDelete(course)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
